/*
 * 与文档有关的样式
 */
.theme-cos pre { margin-top:10px; margin-bottom:10px; }
.theme-cos pre, .theme-cos code { font-family:Menlo,Monaco,Consolas,"Courier New",monospace; background:#f7f7f9; }
.theme-cos pre code { padding:0; font-size:13px; }
.theme-cos li { line-height:24px; }
.theme-cos h1, .theme-cos h2, .theme-cos h3, .theme-cos h4, .theme-cos h5, .theme-cos h6 { font-family:museo-slab,Georgia,"Times New Roman",Times,serif; margin:20px 0; }
#toPageTop { position:fixed; z-index:2; bottom:20px; right:20px; color:#bbb; cursor:pointer; }
#toPageTop:hover { color:#0ae; }
#toPageTop i { text-shadow:2px 1px 3px #ddd; font-size:32px; }

/* page-index */
#page-index #l-hd { border-bottom:1px solid #194f9c; }
#page-index .page-header h2 { font-size:84px; letter-spacing:3px; }
#page-index .hr-double { margin-top:30px; margin-bottom:30px; }
#page-index #l-bd .page-header { padding:40px; background:#3361a4; margin-top:-15px; border-top:1px solid #4877bc; color:#fff; letter-spacing:2px; }
#page-index #l-bd .page-header .intro{ color:#cfd8e8; font-size:16px; padding-left:2px; }
#page-index #l-bd .page-header .action { margin-top:30px; }
#page-index #l-bd .page-header .action .btn { background:#fff; opacity:0.9; filter:alpha(opacity=90); color:#3361a4; text-shadow:none; box-shadow:none; border:1px solid #cfd8e8; margin-right:10px; }
#page-index #l-bd .page-header .action .btn:hover, #page-index #l-bd .page-header .action .btn:focus { background:transparent; color:#cfd8e8; }
#page-index .page-header h2 { font-size:72px; line-height:80px; margin-bottom:20px; color:#fff; text-shadow:4px 3px 0 #194f9c,9px 8px 0 rgba(0,0,0,0.15) }
#page-index .description { padding-top:10px; }
#page-index .description-block { padding-right:30px; color:#666; }

/* doc-content */
.doc-content { padding-bottom:30px; }
h2.module-header-name { color:#3361a4; margin-top:20px; margin-bottom:20px; }
.doc-content .box h2 { color:#333; }

.doc-main { width:100%; }
.doc-main .doc-content { width:980px; margin:0 auto; }

/* component-index */
.component-index { margin-left:0; margin-top:30px; margin-bottom:30px; }
.component-index li { margin-left:0 !important; margin-right:15px; border:1px solid #ddd; box-shadow:1px 2px 3px #eee; padding:6px 10px; margin-bottom:20px;  }
.component-index li:hover { border-color:#0ae; }
.component-index h3 { margin-top:0; margin-bottom:0; font-size:19px; line-height:32px; }
.component-index .component-desc { color:#999; height:30px; overflow:hidden; font-size:12px; margin-bottom:0; line-height:14px; }
.component-index .component-desc:hover { overflow:auto; }
