
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <link rel="icon" href="/favicon.ico">
        <title>Rayi.me</title>
        <link rel="stylesheet" href="/static/css/base.css"  />
        <link rel="stylesheet" href="/static/css/font-awesome.css" />
        <link rel="stylesheet" href="/static/css/themify-icons.css" />
        <link rel="stylesheet" href="/static/css/quanzi.css" />
        
    </head>
    <body class="app">
        <section class="layout">
            <section class="main-content">
                <div class="content-wrap">
                  <div class="row">
                      <div class="back-nav"></a>
                          <a href="{{site.github.owner_url}}"><i class="fa fa-arrow-circle-left"></i></a>
                      </div>
                      <div class="user-profile-banner" style="background:#303c57 url(http://quanziio.qiniudn.com/70fabde6d3a9d72d2db96da87969bb57) repeat-x center 0; height:300px;">
                          
                          <div class="user-avatar-uploader">
                              <img src="{{site.github.owner_gravatar_url}}" style="width:120px;height:120px;" class="borderd-avatar" />
                          </div>
                          <h1><span>Rayi</span></h1>
                          <p>这是一个喜欢折腾的人...</p>
                      </div>
                  </div>
                </div>
            </section>
        </section>
        
        <div class="article-list">
          {% for post in site.posts %}
          {% assign paths = post.id | split: '/' %}
          <div class="article">
              <div class="cover"><a href="{{ post.url }}" target="_blank"><img src="http://quanziio.qiniudn.com/{{ post.cover }}/cover" /></a></div>
              <div class="user-info">
                  <a href="{{ post.url }}">{{ post.author }}</a> write on {{post.date|date: "%Y-%m-%d"}}
              </div>
              <div class="artile-info">
                  <a href="{{ post.url }}">{{ post.title }}</a>
              </div>
          </div>
          {% endfor %}
          
        </div>

<footer>
  你所未看见的，我们都在看!
</footer>
<script type="text/template" id="modal-tpl">
<div class="modal">
  <div class="modal-dialog {! modalCls !}">
    <div class="modal-content">
      {$ if showHeader $}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{! title !}</h4>
      </div>
      {$ endif $}
      <div class="modal-body">
        {! content|raw !}
      </div>
      {$ if showFooter $}
      <div class="modal-footer">
        {$ if showBtns $}
            <button type="button" class="btn btn-{! modalStatus !}" data-confirm="modal">{! confirmLabel !}</button>
            {$ if showCancel $}
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            {$ endif $}
        {$ endif $}
      </div>
      {$ endif $}
    </div>
  </div>
</div>
</script>

        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/jquery-2.1.1.js"></script>
    </body>
</html>