
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <link rel="icon" href="/favicon.ico">
        <title>Rayi.me</title>
        <link rel="stylesheet" href="/static/css/base.css"  />
        <link rel="stylesheet" href="/static/css/font-awesome.css" />
        <link rel="stylesheet" href="/static/css/themify-icons.css" />
        <link rel="stylesheet" href="/static/css/quanzi.css" />
        <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("1ff8aad4194f75423021f5eb65503311");</script><!-- end Mixpanel -->
    </head>
    <body class="app">
        <section class="layout">
            <section class="main-content">
                <div class="content-wrap">
                  <div class="wrap-row">
                      <div class="back-nav"></a>
                          <a href="{{site.github}}" target="_blank"><i class="fa fa-github"></i></a>
                      </div>
                      <div class="user-profile-banner" style="background:#303c57 url(http://quanziio.qiniudn.com/70fabde6d3a9d72d2db96da87969bb57) repeat-x center 0; height:300px;">
                          
                          <div class="user-avatar-uploader">
                              <img src="http://quanziio.qiniudn.com/732cb9348d631b7b5393606fa8f54c53" style="width:120px;height:120px;" class="borderd-avatar" />
                          </div>
                          <h1><span>Rayi</span></h1>
                          <p>这是一个喜欢折腾的人...</p>
                          <p class="quanzi-user-actions">
                              <a href="{{site.github}}" class="btn" target="_blank"><i class="fa fa-github"></i> Follow me</a> 
                              <a href="http://weibo.com/measy" class="btn"><i class="fa fa-weibo"></i> 微博关注</a>
                          </p>
                      </div>
                  </div>
                </div>
            </section>
        </section>
        
        <div class="article-list">
          {% for post in site.posts %}
          {% assign paths = post.id | split: '/' %}
          <div class="article">
              <div class="cover"><a href="{{ post.url }}" target="_blank"><img src="/images/covers/{{post.id|replace:'/', '-'|replace_first:'-', ''}}.png" onerror="this.src='{{ post.cover }}'" /></a></div>
              <div class="user-info">
                  <a href="{{ post.url }}">{{ post.author }}</a>  {{post.date|date: "%Y-%m-%d"}}
              </div>
              <div class="artile-info">
                  <a href="{{ post.url }}">{{ post.title }}</a>
              </div>
          </div>
          {% endfor %}
          
        </div>

        <footer>
          你所未看见的，我们都在看!
        </footer>
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/jquery-2.1.1.js"></script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?92214031d5dd4881b12f80643bb5da16";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>