---
page_id: articles
---
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <link rel="icon" href="/favicon.ico">
        <title>{{page.title}} @ Rayi.ME</title>
        <link rel="stylesheet" href="/static/css/base.css"  />
        <link rel="stylesheet" href="/static/css/font-awesome.css" />
        <link rel="stylesheet" href="/static/css/themify-icons.css" />
        <link rel="stylesheet" href="/static/css/timeline.css" />
        <link rel="stylesheet" href="/static/css/quanzi.css" />

        <!--引入CSS-->
        <link rel="stylesheet" type="text/css" href="/static/css/webuploader.css">
        <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("1ff8aad4194f75423021f5eb65503311");</script><!-- end Mixpanel -->
    </head>
    <body class="app">
        <section class="layout">
            <section class="main-content">
                <div class="content-wrap">
                  <div class="wrap-row">
                      <div class="back-nav"></a>
                          <a href="/"><i class="fa fa-arrow-circle-left"></i></a>
                      </div>
                      <div class="quanzi-info" style="background:#303c57 url({{page.banner}}) repeat-x center 0; height:300px;">
                          <h1><span>《{{ page.title }}》</span></h1>
                          <p class="muted">{{ page.author | default: "Rayi"}}  {{ page.date | date: "%Y-%m-%d" }}</p>
                          <p class="quanzi-user-actions">
                              <a href="{{site.github}}" class="btn" target="_blank"><i class="fa fa-github"></i> Follow me</a> 
                              <a href="http://weibo.com/measy" class="btn"><i class="fa fa-weibo"></i> 微博关注</a>
                          </p>
                      </div>
                  </div>
                </div>
            </section>
        </section>

        <div class="type">
            <article>
                {{ content }}

                <div id="SOHUCS"></div>
                <script>
                  (function(){
                    var appid = 'cyrh6hKK8',
                    conf = 'prod_132b7a88e8c15d25da4fb94f3e5b70b3';
                    var doc = document,
                    s = doc.createElement('script'),
                    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                    s.type = 'text/javascript';
                    s.charset = 'utf-8';
                    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
                    h.insertBefore(s,h.firstChild);
                    window.SCS_NO_IFRAME = true;
                  })()
                </script>
            </article>
            <!--高速版，加载速度快，使用前需测试页面的兼容性-->
            
        </div>



        <footer>
          你所未看见的，我们都在看!
        </footer>

        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/jquery-2.1.1.js"></script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?92214031d5dd4881b12f80643bb5da16";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        mixpanel.track("Post Page View");
        </script>
    </body>
</html>